
.giga-chat-container {
    height: 600px;
    width: 33.33%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.giga-chat-overlay {
    border-radius: 50px;
    z-index: 0;
    position: absolute;
    width: 450px;
    height: 700px;
    background: radial-gradient(circle, rgba(247, 0, 255, 0.8), rgba(0, 0, 0, 0));
    filter: blur(50px);
}

.giga-chat {
    /*position: fixed;*/
    position: relative;
    z-index: 1;
    
    /* border: 2px solid black;*/
    width: 0px;
    height: 0px;
    background-color: rgba(212, 212, 212, 0.9);
    border-radius: 50px;
    transition: 1.5s ease-in-out;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.giga-chat.active {
    width: 400px;
    height: 600px;
}

.giga-chat-message-input {
    border-radius: 25px;
}

.giga-chat-send-button {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.giga-chat-close-button-container {
    text-align: right;
    padding: 5px 5px;
    height: 7%;
}

.giga-chat-close-button {
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 32px; /* Увеличьте размер икони */
    line-height: 1;   
}

.giga-chat-separator {
    z-index: 1003;
    height: 2px;
    background-color: #000000;
    position: relative;
    margin: 0px 0; 
    /* box-shadow: 0px 2px 2px rgba(212, 212, 212, 0.9);  */
}

.giga-chat-messages {
    z-index: 1002;
    position: relative;
    padding: 10px;
    height: 70%;
    /* max-height: 300px; */
    overflow-y: auto;
    background-color: white;
}

.giga-chat-input {
    display: flex;
    padding: 10px;
    
}

.giga-chat-message-input {
    text-indent: 10%;
}

.giga-chat-message-input::placeholder {
    color: #B8B8B8;
    font-family: 'Days One Cyrillic', sans-serif;
    opacity: 1;
}

.giga-chat-message-input:-ms-input-placeholder {
    color: #B8B8B8;
    font-family: 'Days One Cyrillic', sans-serif;
    opacity: 1;
}

.giga-chat-message-input::-ms-input-placeholder {
    color: #B8B8B8;
    font-family: 'Days One Cyrillic', sans-serif;
    opacity: 1;
}

.giga-chat-messages {
    display: flex;
    flex-direction: column; 
}

.sliders {
    gap: 10px;
    width: 33.33%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.slider input[type="range"] {
    width: 5%;
    height: 5%;
}