@font-face {
    font-family: "Days One Cyrillic";
    src: url("fonts/DaysOne-Regular.ttf") format("truetype");
}

body {
    margin: 0;
    background-color: #000;
    height: 100%;
}

.main-container {
    display: flex;
}

.upper-side {
    display: flex;
    align-items: center;
    height: 10vh;
}

.sections {
    justify-content: space-between;
    display: flex;
    gap: 60px;
}

.sections button {
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    outline: none;
    border: none;
    background-color: transparent;
    color: #fff;
    z-index: 2;
}

.sections .products {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.trial-container {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -2;
    position: relative;
    margin-left: auto;
    margin-right: 5%;
    background-color: blueviolet;
    background: linear-gradient(to right, #6DDCFF, #7F60F9);
    border-radius: 25px;
    width: 9%;
    min-height: 50%;
}

.trial-container::after {
    z-index: -1;
    content: "";
    position: absolute;
    top: 2.5%;
    left: 0.5%;
    width: 99%;
    height: 95%;
    border-radius: 25px;
    background-color: rgb(0, 0, 0);
}

.trial {
    z-index: 2;
    border: none;
    font-size: 16px;
    outline: none;
    background-color: transparent;
    border-radius: 10px;
    color: #fff;
    font-family: 'Inter', sans-serif;
    text-align: center;
    flex-grow: 0;
    
}

.main-logo {
    width: 30%;
    height: 100%;
    display: flex;
}

.square-container {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    position: relative;
    margin-left: 20px;
    height: 40%;
    aspect-ratio: 1/1;
    background-color: white;
    background: linear-gradient(to right, #6DDCFF, #7F60F9);
    transform: rotate(45deg);
}

.square::after {
    content: "";
    position: absolute;
    top: 12.5%;
    left: 12.5%;
    width: 75%;
    aspect-ratio: 1/1;
    background-color: rgb(0, 0, 0);
}

.naming-container {
    width: 70%;
    display: flex;
    align-items: center;
}

.naming {
    color: white;
    white-space: pre-wrap;
    font-size: 30px;
    font-family: 'Days One', sans-serif;
    text-transform: uppercase;
    line-height: 28.5px;
}