.popup-sliders {
    align-items: center;
    z-index: 5;
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 0%;
    height: 50%;
    width: 450px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 0px 15px 0px 0px;
    background-color: rgba(212, 212, 212, 0.9); /* Цвет фона с прозрачностью */
    backdrop-filter: blur(10px);
    transition: bottom 0.99s ease-in-out;
    overflow: visible;
}

.popup-sliders .sliders {
    width: 80%;
}
