@media only screen and (max-width: 1000px) {
    .giga-chat-container {
        padding: 5%;
    }
    .sliders-container {
        padding-top: 5%;
        order: 2;
        align-items: center;
        z-index: 5;
        position: fixed;
        display: flex;
        height: 80%;
        width: 400px;
        left: -400px;
        background-color: rgb(212, 212, 212); /* Цвет фона с прозрачностью */
        transition: left 0.99s ease-in-out;
        overflow: visible;
    }
    
    .sliders {
        background-color: rgba(155, 155, 155, 0.9);
        backdrop-filter: blur(10px);
        border: 1px solid #ccc;
        height: 100%;
        width: 100%;
        border-radius: 0px 50px 50px 0px;
    }

    .sliders input[type="range"] {
        background-color: rgba(255, 255, 255, 0.9);
        width: 80%;
    }

    .sliders-popup-button {
        display: flex;
        background: rgb(134, 134, 134);
        width: 5%;
        height: 10%;
        border-radius: 0px 15px 15px 0px;
        align-items: center;
        justify-content: center;
        border: none;
    }

    .giga-chat-container {
        width: 100%;
        order: 1;
    }
    .about-us {
        width: 100%;
        order: 3;
    }

    .main-container {
        flex-direction: column;
        align-items: center;
    }

    .upper-side {
        display: none;
    }
}