.about-us {
    display: flex;
    width: 33.33%;
    overflow: hidden;
    
}

.slide {
    color:white;
    font-family: 'Days One Cyrillic', sans-serif;
    flex: 0 0 100%;
    padding: 0px;
    text-align: center;
    transition: transform 1.5s ease-in-out;
    
}
