.sliders-container {
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sliders-subcontainer {
  position: relative;
  gap: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sliders {
  display: flex;
  flex-direction: row-reverse;
}

.sliders-popup-button {
  display: none;
}

.sliders-popup-button img {
  width: 20px;
  height: 20px;
  display: inline-block;
  opacity: 1;
}


/* Стилизация основного элемента ползунка */
.sliders input[type="range"] {
    /* Общие стили */
    width: 95%;
    height: 10px;
    appearance: none; /* Убирает стандартный стиль браузера */
    background-color: #ffffff;
    outline: none;
    border-radius: 25px;
  }
  
  /* Стилизация ползунка */
.sliders input[type="range"]::-webkit-slider-thumb {
    /* Стиль для браузеров, использующих WebKit (Chrome, Safari и др.) */
    appearance: none;
    width: 28px;
    height: 28px;
    background: #7F60F9;
    cursor: pointer;
    border-radius: 25px;
  }
  
.sliders input[type="range"]::-moz-range-thumb {
    /* Стиль для Firefox */
    width: 28px;
    height: 28px;
    background: #7F60F9;
    cursor: pointer;
    border-radius: 25px;
  }
  
.sliders input[type="range"]::-ms-thumb {
    /* Стиль для Internet Explorer и Edge */
    width: 28px;
    height: 28px;
    background: #7F60F9;
    cursor: pointer;
    border-radius: 25px;
  }

.sliders .sliders_owner {
  color: rgb(88, 88, 88);
  font-family: "RFTone";
  font-size: 22pt;
  font-weight: bold;
  width: 70%;
  text-align: center;
}

.sliders .slider_name {
  color: rgb(255, 255, 255);
  font-family: "RFTone";
  font-size: 12pt
}

#support_owner {
  border-radius: 0px 10px 10px 10px;
  background-color: #bcadfa;
}

#client_owner {
  border-radius: 10px 0px 10px 10px;
  background-color: #cca4d2;
}