.sliders-container {
  width: 33.33%;
}

.sliders-subcontainer {
  position: relative;
  gap: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sliders {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.sliders-popup-button {
  display: none;
}


/* Стилизация основного элемента ползунка */
.sliders input[type="range"] {
    /* Общие стили */
    width: 50%;
    height: 10px;
    appearance: none; /* Убирает стандартный стиль браузера */
    background-color: #ffffff;
    outline: none;
    border-radius: 25px;
  }
  
  /* Стилизация ползунка */
.sliders input[type="range"]::-webkit-slider-thumb {
    /* Стиль для браузеров, использующих WebKit (Chrome, Safari и др.) */
    appearance: none;
    width: 28px;
    height: 28px;
    background: #7F60F9;
    cursor: pointer;
    border-radius: 25px;
  }
  
.sliders input[type="range"]::-moz-range-thumb {
    /* Стиль для Firefox */
    width: 28px;
    height: 28px;
    background: #7F60F9;
    cursor: pointer;
    border-radius: 25px;
  }
  
.sliders input[type="range"]::-ms-thumb {
    /* Стиль для Internet Explorer и Edge */
    width: 28px;
    height: 28px;
    background: #7F60F9;
    cursor: pointer;
    border-radius: 25px;
  }

.sliders .sliders_owner {
  color: white;
  font-family: 'Days One', sans-serif;
  font-size: 24pt;
}

.sliders .slider_name {
  color: white;
  font-family: 'Days One', sans-serif;
  font-size: 12pt
}
