.open-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}

.chat-popup {
    z-index: 1001;
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-messages {
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
}

.chat-input {
    display: flex;
    padding: 10px;
}

input[type="text"] {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.message-user{
    position: relative;
    border: 2px solid blue;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.message::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent #DCF8C6;
}

.message-llm{
    border: 2px solid rgb(202, 91, 128);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
