.open-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}

.giga-chat-container {
    height: 600px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.giga-chat {
    /*position: fixed;*/
    position: relative;
    /* border: 2px solid black;*/
    width: 0px;
    height: 0px;
    background-color: antiquewhite;
    border-radius: 25px;
    transition: 1.5s ease-in-out;
}

.giga-chat.active {
    width: 500px;
    height: 500px;
 
    
}


.chat-popup {
    z-index: 1001;
    display: block;
    position: fixed;
    bottom: -400px;
    right: 20px;
    width: 450px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 0px 15px 0px 0px;
    background-color: rgba(212, 212, 212, 0.9); /* Цвет фона с прозрачностью */
    backdrop-filter: blur(10px);
    transition: bottom 0.99s ease-in-out;
}

.close-button-container {
    text-align: right; /* Выравнивание кнопки вправо */
    padding: 5px 5px; /* Добавьте отступ вокруг кнопки */
}

.close-button {
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 32px; /* Увеличьте размер икони */
    line-height: 1;
}

.separator {
    z-index: 1003;
    height: 3px;
    background-color: #ccc;
    position: relative;
    margin: 0px 0; /* Расстояние от разделительной полосы до сообщений */
    box-shadow: 0px 2px 2px rgba(212, 212, 212, 0.9);
}

.chat-messages {
    z-index: 1002;
    position: relative;
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
}

.chat-input {
    display: flex;
    padding: 10px;
}

input[type="text"] {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.chat-messages {
    display: flex;
    flex-direction: column;
}

.message-user{
    float: right;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: justify;
    max-width: 225px;
    background-color: rgb(210, 188, 149);
    border-radius: 10px 0px 10px 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.message::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent #DCF8C6;
}

.message-llm{
    float: left;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: justify;
    max-width: 225px;
    background-color: rgb(231, 231, 231);
    border-radius: 0px 10px 10px 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
