<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>NeuroSquare playground</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/giga-styles.css') }}">
</head>
<body>
    <div class="upper-side" id="upper-side">
        <div class="main-logo" id="main-logo">
            <div class="square-container">
                <div class="square" id="square"></div>
            </div>
            <div class="naming-container">
                <div class="naming" id="naming">Нейра скваре</div>
            </div>
        </div>
        <div class="sections" id="sections">
            <button class="products" id="products">Products</button>
            <button class="features" id="features">Features</button>
            <button class="pricing" id="pricing">Pricing</button>
            <button class="support" id="support">Support</button>
        </div>
        <button class="trial" id="trial">Start free trial</button>
    </div>
    <a href="#about">Перейти к этому месту</a>
    <a href="#projects">Перейти к этому месту</a>
    <a href="#contacts">Перейти к этому месту</a>
    <a href="#something">Перейти к этому месту</a>
    <button id="open-popup" class="open-button">Открыть чат</button>
    <div class="main-container">
        <div class="about-us" id="about-us">
            <p class="our-text">О нас чё то</p>
            <p class="our-text">Ещё чё нить</p>
            <p class="our-text">И тут ещё чёто</p>
        </div>
        <div class="giga-chat-container" id="giga-chat-container">
            <div class="giga-chat" id="giga-chat">
                <div class="giga-chat-close-button-container">
                    <button class="giga-chat-close-button" id="giga-chat-close-button">✖</button>
                </div>
                <div class="giga-chat-separator"></div>
                <div class="giga-chat-messages" id="giga-chat-messages">
                    <!-- Здесь будут отображаться сообщения -->
                </div>
                <div class="giga-chat-input">
                    <input type="text" class="giga-chat-message-input" id="giga-chat-message-input" placeholder="Введите сообщение...">
                    <button class="giga-chat-send-button" id="giga-chat-send-button" data-endpoint="/send-message" sliders-endpoint="/process-sliders">Отправить</button>
                </div>
                
            </div>
            <div class="giga-chat-overlay"></div>
        </div>
        <div class="sliders" id="sliders">
            <input type="range" min="0" max="3" value="0" step="1" id="anger-level">
            <input type="range" min="0" max="3" value="0" step="1" id="misspelling_level">
            <input type="range" min="0" max="3" value="0" step="1" id="bot-grammar-nazi">
            <input type="range" min="0" max="3" value="0" step="1" id="bot-rage">
        </div>
    </div>
    <div class="chat-popup" id="chat-popup">
        <div class="close-button-container">
            <button class="close-button" id="close-button">✖</button>
        </div>
        <div class="separator"></div>
        <div class="chat-messages" id="chat-messages">
            <!-- Здесь будут отображаться сообщения -->
        </div>
        <div class="chat-input">
            <input type="text" id="message-input" placeholder="Введите сообщение...">
            <button id="send-button" data-endpoint="/send-message" sliders-endpoint="/process-sliders">Отправить</button>
        </div>
        <div class="sliders">
            <input type="range" min="0" max="3" value="0" step="1" id="anger-level">
            <input type="range" min="0" max="3" value="0" step="1" id="misspelling_level">
            <input type="range" min="0" max="3" value="0" step="1" id="bot-grammar-nazi">
            <input type="range" min="0" max="3" value="0" step="1" id="bot-rage">
        </div>
        <div class="debug">
            <!--Дебаг: кнопка запуска заготовленных сообщений-->
            <button id="debug-button">Отладочные сообщения</button>
            <input type="text" id="timeout" placeholder="Введите кол-во задержки в мс...">
        </div>
        
    </div>
    <script type="module" src="{{ url_for('static', filename='js/chat_functionality.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/welcome.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/chat_event_listeners.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/chat_sliders.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/giga_chat_event_listeners.js') }}"></script>
    <div class="information">
        <h2 id="about">О нас</h2>
            <p>
                Команда NeuroSquare – это инновационное сообщество выдающихся ученых, разработчиков и инженеров, глубоко погруженных в мир искусственного интеллекта и нейронных сетей.<br>
                С бесконечным стремлением к достижению высших стандартов качества и интеллектуальной мощности, <br>
                NeuroSquare возглавляет революцию в области разработки интеллектуальных ботов, основанных на передовых технологиях нейросетей.<br>
                Каждый член команды NeuroSquare – это не только профессионал с огромным опытом в своей области, но и вдохновенный исследователь, <br>
                который стремится к постоянному совершенствованию и инновациям. Нейросети – это страсть, объединяющая этих экспертов, и они превращают эту страсть в потрясающие продукты.<br>
                Одной из ключевых целей NeuroSquare является создание ботов, которые способны не только эмулировать человеческое мышление и поведение, <br>
                но и превосходить его в определенных аспектах. Используя глубокое обучение и передовые алгоритмы, команда стремится к тому,
                чтобы их боты становились надежными собеседниками, помощниками и даже творческими партнерами.<br>

                В самом сердце творческого процесса NeuroSquare лежит философия сближения науки и искусства. <br>
                Они убеждены, что красота алгоритмов может быть настолько же важной, как их функциональность. <br>
                Это позволяет создавать ботов, которые не только эффективно выполняют задачи, но и вызывают восторг своей интеллектуальной элегантностью.<br>

                Члены команды NeuroSquare внимательно следят за последними научными исследованиями в области нейронных сетей и искусственного интеллекта. <br>
                Они пионеры в применении новых методов, а также тщательно адаптируют их к своим проектам. Это позволяет им оставаться на передовой инноваций и достигать выдающихся результатов.<br>

                Но NeuroSquare не только создает интеллектуальных ботов – они также стремятся к образованию и популяризации знаний об искусственном интеллекте. <br>
                Через публичные лекции, научные публикации и образовательные мероприятия они делают технически сложные концепции доступными для широкой аудитории, способствуя распространению инновационной культуры.<br>

                Все это делает NeuroSquare непреложным лидером в области разработки интеллектуальных ботов на основе нейросетей. <br>
                Их пристальное внимание к качеству, стремление к инновациям и глубокая страсть к искусству нейросетей делают их командой, <br>
                которая изменяет представление о возможностях искусственного интеллекта и поднимает его на новый уровень..
            </p>
        <h2 id="projects">Проекты</h2>
            <p>
                Команда NeuroSquare гордится своим портфолио, которое включает в себя несколько захватывающих проектов, <br>
                демонстрирующих их способности в области разработки интеллектуальных ботов на основе нейросетей. Ниже приведены некоторые из них:<br>

                ThoughtCompanion: ThoughtCompanion – это революционный проект, в котором NeuroSquare разработала персонального интеллектуального спутника для помощи в повседневных задачах и диалогах. <br>
                Используя глубокое обучение и обширные базы данных, команда создала бота, способного понимать и адаптироваться к индивидуальному стилю коммуникации пользователя. <br>
                ThoughtCompanion не только выполняет задачи, но и поддерживает умные беседы, обеспечивая пользователя информацией и развлечениями.<br>

                ArtisticSynth: Совмещая искусство и интеллект, NeuroSquare разработала ArtisticSynth – бота, <br>
                способного создавать удивительные произведения искусства на основе взаимодействия с пользователем. <br>
                С помощью нейронных сетей, специально обученных распознавать стиль и предпочтения пользователя, ArtisticSynth генерирует уникальные художественные работы, которые удивляют своей креативностью и гармонией.<br>

                LearnSwiftBot: Для обучения программированию NeuroSquare создала LearnSwiftBot – бота, способного обучать языку программирования Swift. <br>
                Благодаря комбинации интерактивных заданий, объяснений и тестов, этот бот помогает начинающим программистам освоить основы Swift и разработать навыки написания кода.<br>

                HealthGuardian: Осознавая важность здоровья, NeuroSquare разработала HealthGuardian – бота, <br>
                который предоставляет пользователю персонализированные советы по поддержанию здорового образа жизни. <br>
                С использованием данных о физической активности, питании и медицинской истории, бот предоставляет рекомендации и мотивацию для достижения лучших результатов.<br>

                SciQuest: SciQuest – это проект, который совмещает интерес к науке и образованию. 
                NeuroSquare разработала бота, способного отвечать на вопросы и обсуждать актуальные научные темы. <br>
                Бот использует нейронные сети для анализа научных статей и исследований, предоставляя пользователям доступ к последним открытиям и разработкам в различных научных областях.<br><br>

                Эти проекты – лишь небольшая часть всего, что NeuroSquare создала, и они продолжают уделять внимание инновациям, чтобы воплощать в жизнь все более удивительные и полезные идеи, основанные на нейросетях.
            </p>
        <h2 id="contacts">Как связаться</h2>
        <h4 >Офис</h4>
            <p>
                Адрес: 123 ул. Инноваций, город Технология, Страна Прогрессия<br>
                Телефон: +1-555-123-4567<br>
                Электронная почта: info@neurosquare.ai
            </p>
        <h4 >Руководство</h4>
            <ul>
                <li>
                    <h5 >Директор по техничским инновациям:</h5>
                    <p>
                        Имя: Джон Смит<br>
                        Телефон: +1-555-987-6543<br>
                        Электронная почта: john.smith@neurosquare.ai
                    </p>
                </li>
            </ul>
        <h4 >Отдел продуктов</h4>
        <h4 >Техническая поддержка</h4>
        <h4 >Образовательная програма</h4>
        <h4 >Пресс-служба</h4>
        <h4 >Социальные сети</h4>
        <p>
            Не забудьте написать нам на <a href="mailto:<EMAIL>"><EMAIL></a>
        </p>
        <h2 id="something">Ещё чё-то</h2>
    </div>
    
    
</body>
</html>