<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>NeuroSquare</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Days+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Plus+Jakarta+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/giga-styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main-styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/slide_show.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sliders.css') }}">
    

</head>
<body>
    <div class="upper-side" id="upper-side">
        <!-- Верх сайта-->
        <div class="main-logo" id="main-logo">
            <div class="square-container">
                <div class="square" id="square"></div>
            </div>
            <div class="naming-container">
                <div class="naming" id="naming">Neuro<br>Square</div>
            </div>
        </div>
        <div class="sections" id="sections">
            <button class="products" id="products">Products</button>
            <button class="features" id="features">Features</button>
            <button class="pricing" id="pricing">Pricing</button>
            <button class="support" id="support">Support</button>
        </div>
        <div class="trial-container" id="trial-container">
            <button class="trial" id="trial">Start free trial</button>
        </div>
        
    </div>
    <button id="open-popup" class="open-button">Открыть чат</button>
    <div class="main-container">
        <div class="about-us" id="about-us">
            <div class="slide-show" id="slide-show">
                <p class="slide">О нас чё то</p>
                <p class="slide">Ещё чё нить</p>
                <p class="slide">И тут ещё чёто</p>
            </div>
        </div>
        <div class="giga-chat-container" id="giga-chat-container">
            <div class="giga-chat" id="giga-chat">
                <div class="giga-chat-close-button-container">
                    <div class="giga-chat-logo" id="giga-chat-logo">
                        <div class="giga-chat-square-container">
                            <div class="giga-chat-square" id="giga-chat-square"></div>
                        </div>
                        <div class="giga-chat-naming-container">
                            <div class="giga-chat-naming" id="giga-chat-naming">NeuroSquare</div>
                        </div>
                    </div>
                </div>
                <div class="giga-chat-separator"></div>
                <div class="giga-chat-messages" id="giga-chat-messages">
                    <!-- Здесь будут отображаться сообщения -->
                </div>
                <div class="giga-chat-separator"></div>
                <div class="giga-chat-input">
                    <input type="text" class="giga-chat-message-input" id="giga-chat-message-input" placeholder="введите запрос">
                    <button class="giga-chat-send-button" id="giga-chat-send-button" data-endpoint="/send-message" sliders-endpoint="/process-sliders">
                        <img src="{{ url_for('static', filename='images/send.png') }}" alt="Send">
                    </button>
                </div>
                
            </div>
            <div class="giga-chat-overlay"></div>
        </div>
        <div class="sliders" id="sliders">
            <input type="range" min="0" max="3" value="0" step="1" id="anger-level">
            <input type="range" min="0" max="3" value="0" step="1" id="misspelling_level">
            <input type="range" min="0" max="3" value="0" step="1" id="bot-grammar-nazi">
            <input type="range" min="0" max="3" value="0" step="1" id="bot-rage">
        </div>
    </div>
    <div class="chat-popup" id="chat-popup">
        <div class="close-button-container">
            <button class="close-button" id="close-button">✖</button>
        </div>
        <div class="separator"></div>
        <div class="chat-messages" id="chat-messages">
            <!-- Здесь будут отображаться сообщения -->
        </div>
        <div class="chat-input">
            <input type="text" id="message-input" placeholder="Введите сообщение...">
            <button id="send-button" data-endpoint="/send-message" sliders-endpoint="/process-sliders">Отправить</button>
        </div>
    </div>
    <script type="module" src="{{ url_for('static', filename='js/chat_functionality.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/welcome.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/chat_event_listeners.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/chat_sliders.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/giga_chat_event_listeners.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/dialogues.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/func.js') }}"></script>
</body>
</html>