<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>NeuroSquare playground</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/giga-styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main-styles.css') }}">
</head>
<body>
    <div class="upper-side" id="upper-side">
        <!-- Верх сайта-->
        <div class="main-logo" id="main-logo">
            <div class="square-container">
                <div class="square" id="square"></div>
            </div>
            <div class="naming-container">
                <div class="naming" id="naming">Нейра скваре</div>
            </div>
        </div>
        <div class="sections" id="sections">
            <button class="products" id="products">Products</button>
            <button class="features" id="features">Features</button>
            <button class="pricing" id="pricing">Pricing</button>
            <button class="support" id="support">Support</button>
        </div>
        <button class="trial" id="trial">Start free trial</button>
    </div>
    <a href="#about">Перейти к этому месту</a>
    <a href="#projects">Перейти к этому месту</a>
    <a href="#contacts">Перейти к этому месту</a>
    <a href="#something">Перейти к этому месту</a>
    <button id="open-popup" class="open-button">Открыть чат</button>
    <div class="main-container">
        <div class="about-us" id="about-us">
            <p class="our-text">О нас чё то</p>
            <p class="our-text">Ещё чё нить</p>
            <p class="our-text">И тут ещё чёто</p>
        </div>
        <div class="giga-chat-container" id="giga-chat-container">
            <div class="giga-chat" id="giga-chat">
                <div class="giga-chat-close-button-container">
                    <button class="giga-chat-close-button" id="giga-chat-close-button">✖</button>
                </div>
                <div class="giga-chat-separator"></div>
                <div class="giga-chat-messages" id="giga-chat-messages">
                    <!-- Здесь будут отображаться сообщения -->
                </div>
                <div class="giga-chat-input">
                    <input type="text" class="giga-chat-message-input" id="giga-chat-message-input" placeholder="Введите сообщение...">
                    <button class="giga-chat-send-button" id="giga-chat-send-button" data-endpoint="/send-message" sliders-endpoint="/process-sliders">Отправить</button>
                </div>
                
            </div>
            <div class="giga-chat-overlay"></div>
        </div>
        <div class="sliders" id="sliders">
            <input type="range" min="0" max="3" value="0" step="1" id="anger-level">
            <input type="range" min="0" max="3" value="0" step="1" id="misspelling_level">
            <input type="range" min="0" max="3" value="0" step="1" id="bot-grammar-nazi">
            <input type="range" min="0" max="3" value="0" step="1" id="bot-rage">
        </div>
    </div>
    <div class="chat-popup" id="chat-popup">
        <div class="close-button-container">
            <button class="close-button" id="close-button">✖</button>
        </div>
        <div class="separator"></div>
        <div class="chat-messages" id="chat-messages">
            <!-- Здесь будут отображаться сообщения -->
        </div>
        <div class="chat-input">
            <input type="text" id="message-input" placeholder="Введите сообщение...">
            <button id="send-button" data-endpoint="/send-message" sliders-endpoint="/process-sliders">Отправить</button>
        </div>
        <div class="sliders">
            <input type="range" min="0" max="3" value="0" step="1" id="anger-level">
            <input type="range" min="0" max="3" value="0" step="1" id="misspelling_level">
            <input type="range" min="0" max="3" value="0" step="1" id="bot-grammar-nazi">
            <input type="range" min="0" max="3" value="0" step="1" id="bot-rage">
        </div>
        <div class="debug">
            <!--Дебаг: кнопка запуска заготовленных сообщений-->
            <button id="debug-button">Отладочные сообщения</button>
            <input type="text" id="timeout" placeholder="Введите кол-во задержки в мс...">
        </div>
        
    </div>
    <script type="module" src="{{ url_for('static', filename='js/chat_functionality.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/welcome.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/chat_event_listeners.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/chat_sliders.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/giga_chat_event_listeners.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/window-setup.js') }}"></script>
    
    
    
</body>
</html>